<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects | Alpha Mind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="site-header">
    <h1>My Projects</h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('project') }}">Projects</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
</header>

<section class="section">
    <div class="text">
        <h2>All Projects</h2>
        <p>I love turning ideas into interactive, user‑friendly interfaces and building digital spaces that people actually enjoy using.
            All my projects contain lots of sharp features with sleek designs and smooth animation which always keep you interacted.</p>
    </div>
    <div class="image">
        <img src="../static/images/all three combined.png" height="178" width="552"/>
    </div>
</section>

<section class="section">
    <div class="text">
        <h2>Snakes and Ladders</h2>
        <p>
            <strong>Snakes and Ladders</strong> is a classic race‑to‑the‑finish board game for two players, famous for turning a calm match into a dramatic roller‑coaster of luck.
            My python program automatically determines whether a player has landed on a ladder, encountered a snake, or simply stayed on the same square.
            It also clearly indicates whether the player has faced any issues or special events during their turn.
            This makes the gameplay smooth, interactive, and easy to follow, allowing players to focus on the excitement of the race to the final square
        </p>
    </div>
    <div class="image">
        <img src="../static/images/snakes and ladders.png" height="1024" width="1024"/>
    </div>
</section>

<section class="section">
    <div class="text">
        <h2>Hangman</h2>
        <p>
            <strong>Hangman</strong> is a classic guess‑and‑check word game that two players can enjoy together.
            One player is secretly given a word, and the other player tries to guess it one letter at a time.
            Each correct guess fills in part of the mystery word… but each wrong guess brings the little stick‑figure character one step closer to being fully drawn
        </p>
    </div>
    <div class="image">
        <img src="../static/images/hangman.png" height="1024" width="1024"/>
    </div>
</section>

<section class="section">
    <div class="text">
        <h2>Rock Paper Scissors</h2>
        <p>
            <strong>Rock, Paper, and Scissors</strong> is a classic, quick‑fire game that two players can jump into anytime — no board, no setup, just hands and a bit of friendly competition.
            It’s the ultimate “let’s settle this right now” game, perfect for deciding who goes first, who gets the last cookie, or just for a burst of silly fun.
        </p>
    </div>
    <div class="image">

        <img src="../static/images/rock paper and scissors.png" height="1536" width="1024"/>
    </div>
</section>

<section class="section">
    <div class="text">
        <h2>Attendance Program</h2>
        <p>
            <strong>Attendance program</strong>  is a developed a program designed for educators and educational institutions to take attendance and maintain detailed student records in an efficient, organized, and user‑friendly manner.
            The system streamlines daily administrative tasks, improves data accuracy, and helps institutions track student progress more effectively
        </p>
    </div>
    <div class="image">
        <img src="../static/images/attendance.png" height="1024" width="1024"/>
    </div>
</section>

</body>
</html>
